/* Custom calendar styles */
.react-calendar {
  width: 100%;
  max-width: 500px;
  max-height: 390px;
  background-color: #cce7ff;
  border-radius: 10px;
  padding: 10px 20px 50px 20px;
  border: none;
  font-size: 20px;
}

.react-calendar .react-calendar__tile {
  row-gap: 20px;
  background-color: #cce7ff;

  transition: 0.3s;
}
.react-calendar__tile:enabled:hover {
  background-color: #e0f2fe; /* Tailwind blue-100 */
  color: #1d4ed8; /* Tailwind blue-700 */
}

.react-calendar__tile--active {
  background-color: #3b82f6 !important; /* blue-500 */
  color: white !important;
}

.react-calendar__tile--now {
  background-color: #bfdbfe !important; /* Tailwind blue-200 */
  color: #1e3a8a !important; /* blue-900 */
}
